.button {
    background-color: #F1FAEE;
    border-radius: 5px;
    border: 1px solid #F1FAEE;
    display: inline-block;
    cursor: pointer;
    color: #1d3557;
    font-family: Arial;
    font-size: 15px;
    padding: 5px 7px;
    text-decoration: none;
    margin: 1em;
}

.button:hover {
    color: #E63946;
    border: 1px solid #1d3557;
}