.textarea {
    background-color: #1d3557;
    color: #F1FAEE;
    font-size: 1.5rem;
    height: 20vh;
    width: 90%;
    resize: none;
    margin: 5%, 5%, 0%, 0%;
    padding: 10px;
    border-radius: 10px;
}

.container {
    background-color: #457B9D;
    width: 60vw;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5px;
}

.headText {
    color: #F1FAEE;
}